<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page_title }}</title>

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'hero.css' | asset_url }}">

  {{ content_for_header }}
</head>
<body>

  {% section 'header' %}

  <main>

    {{ content_for_layout }}

    {% section 'real-stories' %}
    {% section 'upgrade-experience' %}
    {% section 'collections' %}
    {% section 'best-sellers' %}
    {% section 'chiller-needs' %}
    {% section 'join' %}
    {% section 'sign-up' %}
    {% section 'help' %}
  </main>

  {% section 'footer' %}

</body>
</html>
