<link rel="stylesheet" href="{{ 'collections.css' | asset_url }}">

<section class="collections-section">
    <div class="text-collection-section">
        <span class="section-subtitle">COLLECTIONS</span>
        <h2>Shop Our Collections</h2>
        <p class="collections-description">
            Discover top-quality water chillers, ice baths, saunas, and more. Everything you need to take your recovery to the next level is right here.
        </p>
    </div>
        <div class="collections-grid">
            <div class="collection-item">
                <div class="collection-image">
                    <img src="{{ 'bundles.png' | asset_url }}" alt="Bundles" width="78" height="78">
                </div>
                <p>Bundles</p>
            </div>
            <div class="collection-item">
                <div class="collection-image">
                    <img src="{{ 'water-chillers.png' | asset_url }}" alt="Water Chillers" width="78" height="78">
                </div>
                <p>Water Chillers</p>
            </div>
            <div class="collection-item">
                <div class="collection-image">
                    <img src="{{ 'ice-baths.png' | asset_url }}" alt="Ice Baths" width="78" height="78">
                </div>
                <p>Ice Baths</p>
            </div>
            <div class="collection-item">
                <div class="collection-image">
                    <img src="{{ 'saunas.png' | asset_url }}" alt="Saunas"  width="78" height="78">
                </div>
                <p>Saunas</p>
            </div>
            <div class="collection-item">
                <div class="collection-image">
                    <img src="{{ 'accessories.png' | asset_url }}" alt="Accessories" width="78" height="78">
                </div>
                <p>Accessories</p>
            </div>
        </div>
</section>
