<link rel="stylesheet" href="{{ 'header.css' | asset_url }}">

<header class="main-header">
  <div class="container">
    <div class="header-logo">
      <a href="/">
        <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }} Logo" width="100" height="200">
      </a>
    </div>
    <nav class="main-nav">
        <ul>
          <li class="dropdown">
            <a href="/">Shop <span class="arrow">&#9662;</span></a>
          </li>
          <li><a href="/collections/all">Take Water Chiller Quiz</a></li>
          <li><a href="/track-order">Track Order</a></li>
          <li><a href="/affiliate">Affiliate</a></li>
          <li><a href="/about-us">About Us</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>

      <div class="header-icons">
        <a href="/search">
          <img src="{{ 'search-icon.png' | asset_url }}" alt="Search" class="icon" >
        </a>
        <a href="/cart">
          <img src="{{ 'cart-icon.png' | asset_url }}" alt="Cart" class="icon">
        </a>
      </div>

      <div class="hamburger-menu" onclick="toggleMenu()">
        <img src="{{ 'hamburger-menu.png' | asset_url }}" alt="Menu" class="icon">
      </div>
  </div>
</header>

<script>
    function toggleMenu() {
      const nav = document.querySelector('.main-nav');
      nav.classList.toggle('active');
    }
  </script>

  