<section class="hero-section" style="
  background: url('{{ 'hero-background.png' | asset_url }}') no-repeat center center;
    background-size: cover;
    position: relative;
">

<div class="hero-content">
    <span class="rating-text">
        <span class="stars">
            <img src="{{ 'star-icon.png' | asset_url }}" alt="Star" class="star-icon" width="24" height="24">
            <img src="{{ 'star-icon.png' | asset_url }}" alt="Star" class="star-icon" width="24" height="24">
            <img src="{{ 'star-icon.png' | asset_url }}" alt="Star" class="star-icon" width="24" height="24">
            <img src="{{ 'star-icon.png' | asset_url }}" alt="Star" class="star-icon" width="24" height="24">
            <img src="{{ 'star-icon.png' | asset_url }}" alt="Star" class="star-icon" width="24" height="24">
          </span>
        <span class="stars-text">
            The Number One Water Chiller For Ice Bath
        </span>
      </span>      
      <span class="text-content">
          <h1>Transform Your Recovery with the 
            <h2 class="highlight">Ultimate Water Chiller</h2>
        </h1>
          <p>Experience consistent cold therapy without the hassle. Our advanced water chiller keeps your ice bath at the perfect temperature 24/7, with easy remote control from your phone. Say goodbye to ice runs and constant water changes—
            <span class="highlight-text">recover better, faster, and smarter.</span></p>
      </span>
      <a href="{{ section.settings.button_link }}" class="btn btn-primary">SHOP NOW</a>
    
    <div class="as-seen-on">
      <span>As Seen On</span>
      <div class="logos">
        <img src="{{ 'digital.png' | asset_url }}" alt="digital journal" >
        <img src="{{ 'fox.png' | asset_url }}" alt="FOX">
        <img src="{{ 'usatoday.png' | asset_url }}" alt="Usatoday">
        <img src="{{ 'market.png' | asset_url }}" alt="Markettoday">
      </div>
    </div>
  </div>

  <div class="hero-image">
    <img src="{{ 'water-chiller1.png' | asset_url }}" alt="Water Chiller">
    <img src="{{ 'water-chiller2.png' | asset_url }}" alt="Water Chiller">
  </div>
</section>



