<link rel="stylesheet" href="{{ 'real-stories.css' | asset_url }}">

<section class="real-stories-section">
    <div class="container-real-stories">
        <div class="section-title">
            <h2>Real Stories, <span class="gradient-text-real-stories">Real Results</span></h2>
            <p>
                Hear from athletes, fitness enthusiasts, and recovery experts who have transformed their routines with Warrior Water Chillers. See how cold therapy can change your life too.
            </p>
        </div>

        
        <div class="testimonials-grid">
            <button class="carousel-button left">
                &lt;
            </button>
            <!-- Testimonial 1 -->
            <div class="testimonial">
                <img src="{{ 'testimonial1.png' | asset_url }}" alt="Testimonial">
            </div>
            <!-- Testimonial 2 -->
            <div class="testimonial">
                <img src="{{ 'testimonial2.png' | asset_url }}" alt="Testimonial">
            </div>
            <!-- Testimonial 3 -->
            <div class="testimonial">
                <img src="{{ 'testimonial3.png' | asset_url }}" alt="Testimonial">
            </div>
             <!-- Testimonial 4 -->
             <div class="testimonial">
                <img src="{{ 'testimonial4.png' | asset_url }}" alt="Testimonial">
            </div>
            <button class="carousel-button right">
                &gt;
            </button>
        </div>
    </div>
</section>
